.btn {

  border: none;
  font-size: 14px;
  background-color: transparent;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;

  &.btn--lg {
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 3px;
  }

  &.btn--md {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 2px;
  }

  &.btn--right {
    float: right;
    margin-left: 10px;
  }

  &.btn--full {
    width: 100%;
  }

  &.btn--primary {
    background-color: @primary-color;
    color: @secondary-color;
    &:hover, &:active {
      background-color: @primary-color-dark;
    }
  }

  &.btn--primary-dark {
    background-color: @primary-color-dark;
    color: @secondary-color;
    &:hover, &:active {
      background-color: #0D4363;
    }
  }

  &.btn--default {
    background-color: @secondary-color-dark;
    color: @secondary-color;
    &:hover, &:active {
      background-color: @secondary-color-evil;
    }
  }
}
