@import './Variables';

* {
  font-family: @primary-font-family;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-style: normal;
  vertical-align: baseline;
  outline: 0;
  height: 100%;
  #app, .application {
    min-height: 100%;
  }
}

body {
  &.modal {
    overflow: hidden;
  }
  &.welcome {
    background-color: @primary-color;
    .application {
      background-color: transparent;
    }
  }
}

.application {
  @import './ui/All.less';
  @import './Grid.less';
  @import './Topbar.less';
  @import './pages/All.less';
  @import './blocks/All.less';
  @import './views/All.less';

  background-color: @primary-color-highlight;
}

.infinity {
  padding-bottom: 50px;
}

.modal {
  .modal-background {

    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);

    .modal-window {
      background-color: #fff;
      width: 915px;
      margin: 0 auto;
      top: 20%;
      position: relative;
      padding: 0;
      border-radius: 2px;
      border: 1px solid #eeeeee;
      .close {
        position: absolute;
        right: -45px;
        color: #fff;
        font-size: 50px;
        top: -25px;
        text-decoration: none;
        opacity: 0.5;
        &:hover, &:active {
          opacity: 1;
        }
      }
    }
  }
}
