nav.topbar {
  background-color: @topbar-bk-color;
  height: @topbar-height;
  box-shadow: @topbar-shadow;

  .topbar__logo {
    position: absolute;
    left: 50%;
    margin-top: 15px;
    & > a {
      display: block;
      padding: 5px 16px;
    }
  }
}
